.button{
	-fx-background-color: #181818;
	-fx-text-fill: white;
}

.button:hover{
	-fx-background-color: #30C9C4;
	-fx-text-fill: #121212;
}

.text-area {
	-fx-border-color: #30C9C4;
	-fx-background-color: #181818;
	-fx-region-color: #181818;
}

.text-area .content{
	-fx-background-color: #181818;
	-fx-region-color: #181818;
}


.dialog-pane{
	-fx-background-color: #202020;
}

.dialog-pane > *.button-bar > *.container{
	-fx-background-color: #202020;
}

.dialog-pane > *.label.content{
    -fx-font-size: 16px;
    -fx-text-fill: #FFFFFF
}
.dialog-pane:header *.header-panel{
    -fx-background-color: #202020;
}
.dialog-pane:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-text-fill: #FFFFFF;
}
