@font-face {
	src: url("/fonts/Radicalis.ttf");
}

#FilmverleihSmall{
	-fx-font-family: 'Radicalis';
	-fx-font-size: 40px;
	
}

#FilmverleihGross{
	-fx-font-family: 'Radicalis';
}

#Welcome{
	-fx-font-family: 'Radicalis';
	-fx-font-size: 35px;
	
}