.choice-box {-fx-font-size: 16px;}
.choice-box .label {-fx-text-fill: white;}
.choice-box .context-menu{ -fx-background-color: #181818;}
.choice-box .menu-item:focused { -fx-background-color: #31B8B4;}
.choice-box .menu-item > .label { -fx-text-fill: white;}
.choice-box .menu-item:focused > .label { -fx-text-fill: black;}
